.searchPage {
  padding: 20px;

  .searchPage__info {
    p {
      margin-bottom: 10px;
      font-size: 0.85rem;
    }

    h1 {
      margin-bottom: 30px;
    }

    button {
      border-radius: 30px;
      margin: 5px;
      text-transform: inherit;
    }
  }
}
