.searchResult {
  margin: 20px;
  padding: 20px;
  position: relative;

  border-bottom: 1px solid lightgray;
  display: flex;

  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: fill;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;

    .searchResult__infoTop {
      width: 40vw;

      h3 {
        font-weight: 300;
        font-size: 0.85rem;
      }

      .searchResult__description,
      p {
        margin-top: 10px;
        font-size: 0.95rem;
        color: grey;
      }

      .searchResult__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .searchResult__infoBottom {
      display: flex;
      justify-content: space-between;

      .searchResult__stars {
        display: flex;
        align-items: center;

        .searchResult__starIcon {
          color: red;
        }
      }

      .searchResult__price {
        text-align: right;
      }
    }
  }
}
